<div class="container" style="text-align-last: center; margin-bottom: 40px;" >
    <h1><i>Casa di Adelaide Antici</i></h1>
    <img class="card-img-top" style="width: 300px;margin-bottom: 30px;"
        src="assets\images\Casa di Adelaide Antici_IGP1012 copia_DxOFP.jpg" alt="Card image cap">

        <div class="map-container" #map></div>


    <div class="text">

        Dopo aver vissute queste semplici e belle sensazioni evocate dalla poesia, è tempo di scendere dal Colle
        dell’Infinito. Percorriamo l’ampio viale che conduce all’uscita del parco, ci immettiamo per un brevissimo
        tratto sulla statale, per entrare poi tramite Porta Nuova, nell’abitato cittadino. Superata Porta Nuova,
        svoltando a sinistra, ci imbattiamo in uno spazio che sembra una piccola piazza: è l’atrio delle scuderie degli
        Antici, la famiglia di Adelaide, la madre di Giacomo. Sul lato opposto, senza cura,

        <a data-toggle="collapse" href="#multiCollapseExample3" aria-expanded="false"
            aria-controls="multiCollapseExample3">sta il palazzo Antici-Mattei</a>
        <div class="collapse multi-collapse" id="multiCollapseExample3">
            <img style="width: 300px;" src="assets\images\Le scuderie di casa Antici_IGP1010 copia_DxOFP.jpg">
        </div>

        del XVI secolo nella cui galleria si sposarono Monaldo e Adelaide. Qui si può sostare più a lungo per
        parlare di Monaldo, Adelaide e del decisivo influsso che la famiglia ebbe sulle sorti umane di Giacomo. Educato
        alla
        fede cattolica vissuta con entusiasmo nella fanciullezza, tanto da poter dire oh menti sciagurate, oh mondo
        tristo/cui lo pensier del vero tanto spiace/ che par vergogna il ragionar di Cristo! (Appressamento della morte,
        III, 76-78, 1816) lentamente andò maturando un progressivo disinteresse verso di essa per giungere, negli anni
        della maturità, ad un chiaro atteggiamento di avversione.

        Che cosa era avvenuto? A Leopardi faceva violenza il Dio cristiano testimoniato dalla madre fanatica e senza
        cuore, poco incline agli affetti, preoccupata soprattutto di restaurare la passata ricchezza dissestata da
        alcune scelte del marito:
        “ Io ho conosciuto intimamente una madre di famiglia che non era punto superstiziosa, ma saldissima ed
        esattissima nella credenza cristiana, e negli esercizi della religione. Questa non solamente non compiangeva
        quei genitori che perdevano i loro figli bambini, ma gl'invidiava intimamente e sinceramente, perchè questi
        erano volati al paradiso senza pericoli, e avevano liberati i genitori dall'incomodo di mantenerli. Trovandosi
        più volte in pericolo di perdere i suoi figli nella stessa età, non pregava Dio che li facesse morire, perchè la
        religione non lo permette, ma gioiva cordialmente; e vedendo piangere o affliggersi il marito, si rannicchiava
        in se stessa, e provava un vero e sensibile dispetto. Era esattissima negli uffizi che rendeva a quei poveri
        malati, ma nel fondo dell'anima desiderava che fossero inutili, ed arrivò a confessare che il solo timore che
        provava nell'interrogare o consultare i medici, era di sentirne opinioni o ragguagli di miglioramento. Vedendo
        ne' malati qualche segno di morte vicina, sentiva una gioia profonda (che si sforzava di dissimulare solamente
        con quelli che la condannavano); e il giorno della loro morte, se accadeva, era per lei un giorno allegro ed
        ameno, nè sapeva comprendere come il marito fosse sì poco savio da attristarsene. Considerava la bellezza come
        una vera disgrazia, e vedendo i suoi figli brutti o deformi, ne ringraziava Dio, non per eroismo, ma di tutta
        voglia. Non proccurava in nessun modo di aiutarli a nascondere i loro difetti, anzi pretendeva che in vista di
        essi, rinunziassero interamente alla vita nella loro prima gioventù : se resistevano, se cercavano il contrario,
        se vi riuscivano in qualche minima parte, n'era indispettita, scemava quanto poteva colle parole e coll'opinion
        sua i loro successi (tanto dei brutti quanto dei belli, perché n'ebbe molti), e non lasciava passare anzi
        cercava studiosamente l'occasione di rinfacciar loro, e far conoscere i loro difetti, e le conseguenze che ne
        dovevano aspettare, e persuaderli della loro inevitabile miseria, con una veracità spietata e feroce. Sentiva i
        cattivi successi de' suoi figli in questo o simili particolari, con vera consolazione, e si tratteneva di
        preferenza con loro sopra ciò che aveva sentito in loro disfavore. Tutto questo per liberarli dai pericoli
        dell'anima, e nello stesso modo si regolava in tutto quello che spetta all'educazione dei figli, al produrli nel
        mondo, al collocarli, ai mezzi tutti di felicità temporale. Sentiva infinita compassione per li peccatori, ma
        pochissima per le sventure corporali o temporali, eccetto se la natura talvolta la vinceva. Le malattie, le
        morti le più compassionevoli de' giovanetti estinti nel fior dell'età, fra le più belle speranze, col maggior
        danno delle famiglie o del pubblico ec. non la toccavano in verun modo. Perché diceva che non importa l'età
        della morte, ma il modo: e perciò soleva sempre informarsi curiosamente se erano morti bene secondo la
        religione, o quando erano malati, se mostravano rassegnazione ec. E parlava di queste disgrazie con una
        freddezza marmorea. Questa donna aveva sortito dalla natura un carattere sensibilissimo, ed era stata così
        ridotta dalla sola religione. Ora questo che altro è se non barbarie?

        Giacomo non poteva accontentarsi di riti o di discorsi, aveva bisogno di un amico con il quale poter parlare di
        Cristo al livello della sua genialità umana, come gli accadde fugacemente nell’inverno 1828 incontrando il
        giovane prete piemontese Vincenzo Gioberti. Figura di spicco del Risorgimento italiano, l’intellettuale
        cattolico nutriva una particolare ammirazione per l’opera di Leopardi, anche se non concordava con lui su molti
        punti religiosi e filosofici. A Firenze i due amici si frequentarono con assiduità tanto che quando Leopardi
        partì per Recanati egli volle accompagnarlo, dormendo persino a casa sua. Durante il viaggio Giacomo confidò
        all’amico la sua sofferenza per aver perso la fede e, tornato a Torino, Gioberti gli scrisse chiedendo notizie e
        confidandogli che anche la sua fede aveva attraversato un periodo di crisi, ma dopo la loro conversazione si era
        persuaso della verità “del cristianesimo come sistema dottrinale e come fatto storico” ( Iris Origo pag.309). Se
        i due avessero mantenuto la loro amicizia ora forse parleremmo di un altro Leopardi.

        All’incomunicabilità affettiva e al moralismo religioso della madre non faceva da contraltare il rapporto con il
        padre, che nonostante fosse amato da Giacomo era un debole dal quale il poeta non poteva aspettarsi sostegno e
        difesa. Su Monaldo è opportuno soffermarsi perché vale la pena conoscere alcuni flash della sua storia personale
        piena di “tentativi ironici” carichi di conseguenze. Se Giacomo visse la sua esistenza nelle ristrettezze
        economiche lo si deve a suo padre il quale aveva un pessimo intuito per gli affari e fin quando ebbe la
        responsabilità economica che il rango gli imponeva non riuscì a produrre che insuccessi. Il primo fatto degno di
        nota è quello che si riferisce al suo fidanzamento contrattualizzato con una nobildonna bolognese appena
        intravista. Ritornare sui suoi passi, sciogliere cioè il fidanzamento, gli costò un patrimonio, tanto da essere
        costretto a vendere dei gioielli di famiglia.

        Decise poi di effettuare una speculazione economica sul grano comprando con un anno di anticipo la produzione in
        grande quantità, certo che il prezzo sarebbe salito. La campagna napoleonica in Italia, invece, rivoluziona i
        piani: il prezzo fu calmierato e Monaldo rischiò il fallimento. I creditori concessero fiducia ma lo
        espropriarono dall’amministrazione economica che venne affidata ad Adelaide la quale dal quel giorno divenne
        arida e pragmatica, preoccupata solo di far quadrare i conti.

        Monaldo non pago della sua incapacità a condurre gli affari, appassionato di cultura e libri, scrittore lui
        stesso - è merito suo se Giacomo ebbe a disposizione un patrimonio librario enorme e senza uguali nelle Marche
        del primo ‘800 – mise gli occhi su una biblioteca di proprietà di un anziano sacerdote in località “Le Grazie”,
        nella campagna recanatese vicino alla tenuta di Leopardi detta di San Leopardo. Pensò: “la biblioteca vale
        molto, il prete è anziano, proporrò un vitalizio così da poterla avere per quattro soldi!” e si affrettò a
        concludere l’affare. Il religioso visse molti anni e quella che sembrava una “occasione a sconto” si rivelò
        ancora una volta una disgrazia economica.

        Dopo lo scioglimento del trattato di matrimonio i suoi interessi affettivi si spostarono su Adelaide, sua
        parente e vicina di casa, che sposò nonostante l’opposizione della madre. A 50 anni, nella sua autobiografia
        Monaldo scrive: “Eccomi dunque marito. Iddio nell’ampiezza della sua misericordia non poteva accordarmi una
        compagna più saggia, affettuosa e pia di questa mia buona moglie. Ventisei anni già compiti di matrimonio non
        hanno smentita un momento solo la sua condotta irreprensibile e ammirata da tutti, e questa donna forte, intenta
        solo ai doveri e alle cure del suo stato, non ha mai conosciuto altra volontà, piaceri, o interessi se non
        quelli della Famiglia e di Dio. Le obbligazioni che io le professo sono innumerabili come è illimitato l’affetto
        che sento per Lei, e il suo ingresso nella mia Famiglia è stato una vera benedizione. Dunque avrò io potuto
        sottrarmi avventuratamente a quella mano che castiga visibilmente tutti quei figli i quali disgustano i propri
        Genitori, e si maritano senza consenso loro? No, no. Io restai inesorabile al pianto che la mia cara Madre versò
        ai miei piedi, e ne sono punito terribilmente. Gli arsenali delle vendette divine sono inesausti, e tremino quei
        figli che ardiscono di provocarle. Il naturale e il carattere di mia moglie, e il naturale e carattere miei sono
        diversi, quanto sono distanti fra loro il cielo e la terra. Chi ha moglie conosce il valore di questa
        circostanza, e chi non l’ha non si curi di sperimentarlo.”

        Un uomo così non può non suscitare la nostra comprensione e simpatia.
        
    </div>
</div>