<div class="container" style="text-align-last: center;  margin-bottom: 40px;">
    <h1><i>Colle dell'infinito</i></h1>
    <img class="card-img-top" style="width: 300px;margin-bottom: 30px;"
        src="assets\images\Dal Colle dell_infinito la Torre del Borgo_IGP1003 copia_DxOFP.jpg" alt="Card image cap">

        <div class="map-container" #map></div>

    <div class="text">

        Con ancora negli occhi e nell'animo lo stupore della natura all’orizzonte, prendiamo un sentiero un po’
        tortuoso, sterrato e stretto che, se si è in gruppo, occorre percorrere in fila indiana. La via è delimitata a
        destra ancora dall’alto muro, antico, di mattoni a faccia vista e a sinistra, da una siepe continua di cipressi.
        È la siepe […] che il guardo esclude. Dopo aver percorso una cinquantina di metri, arriviamo ad uno spazio
        piano, come un altare, su cui campeggia nel muro la scritta sempre caro mi fu quest'ermo colle. E’ il

        <a data-toggle="collapse" href="#multiCollapseExample1" aria-expanded="false"
            aria-controls="multiCollapseExample1">Colle dell'Infinito</a>
        <div class="collapse multi-collapse" id="multiCollapseExample1">
            <img style="width: 300px;" src="assets\images\Il colle dell_Infinito_IGP0987 copia_DxOFP.jpg">
        </div>

        con alberi alti che lasciano intravedere gli Appennini, i monti azzurri e a nord l'abitato
        cittadino, quasi coperto alla vista dagli alberi, dove appare, tra due grandi rami, la torre del borgo. Spesso
        giunge un vento leggero che sentiamo stormire tra queste piante. È un luogo di pace ben descritto ne L’Infinito,
        certamente la poesia più conosciuta di Leopardi, il quale, in una felice contraddizione, ci fa accorgere della
        positività del limite: la siepe che esclude il guardo è impedimento che permette di risvegliare il desiderio de
        l'eterno.

        Dopo la lettura de L'Infinito, c'è sempre un attimo di sospensione, di meditazione, di contemplazione di ciò che
        c’è intorno perché non vogliamo che si interrompano i sovrumani silenzi e la profondissima quiete, una pace che
        ci fa prendere coscienza “dell’esserci”. Ci accorgiamo, apparentemente solo ora, che siamo dentro l‘avvenimento
        di un grande mistero, quello fatto di interminati spazi, di un luogo ove per poco il cor non si spaura, dove ci
        sovvien l’eterno.
        Al lettore potrà essere utile sapere che Leopardi scrisse due versioni de L’Infinito documentate da autografi
        conservati a Napoli e a Visso contenenti due stesure, leggermente diverse e con correzioni d’autore, della
        celebre poesia. Il primo proviene, insieme ad altre carte, dal lascito testamentario disposto da Ranieri custode
        degli autografi di Giacomo per oltre 50 anni; l'altro si trova a Visso, piccolo paese dell'entroterra maceratese
        90 km circa da Recanati sui Monti Sibillini. Vale la pena conoscere la storia singolare che ha portato a Visso
        il manoscritto per molti anni quasi dimenticato, col rischio della sua dispersione o rovina. Nel 1868 il
        deputato del neo regno d'Italia Gaola Antinori, sindaco del paese, fu sollecitato ad acquistare un consistente
        nucleo di manoscritti leopardiani. I documenti venivano messi in vendita da Prospero Viani, bolognese, studioso
        del poeta e curatore dell'Epistolario, il quale trovandosi in ristrettezze economiche decise di privarsi del suo
        notevole patrimonio culturale. Gaola Antinori acquistò gli scritti donando poi al comune di Visso la preziosa
        collezione composta da alcuni idilli, tra cui L’Infinito, l’Epistola al Conte Carlo Pepoli, cinque sonetti e
        varie lettere.
        Mentre ancora con gli occhi scorriamo le parole de l’Infinito cercando spunti sfuggiti alla prima o ennesima
        lettura, giunge all'improvviso il "suon dell'ora dalla torre del borgo".

        Leopardi è poeta della memoria, non scrive d’istinto, ma descrive ricordi del passato in cui la memoria è pura
        presenza di quello che, caduco e mortale nel tempo, si fa ora presente e divino nello spirito: ecco allora che
        nella sua coscienza tutto diviene immortale e si salva, come il suon dell’ora così gli assidui terrori. Il canto
        viene composto nel 1829 a Recanati dove il poeta rivive l’esperienza dell’infanzia, quando fanciullo, di notte,
        temeva il buio e anelando il mattino trovava conforto ascoltando i rintocchi dell’orologio della torre
        cittadina.
    </div>
</div>