.container {
    margin-top: 20px;
    margin-bottom: 10%;
}

p {
    font-family: "Times New Roman", Times, serif;
}

h1 {
    font-size: 40px;
    font-family: "Times New Roman", Times, serif;
}

.card-deck {
    margin-left: auto;
    margin-right: auto;
}

.card-text {
    font-size: smaller;
}

h5 {
    font-size: 15px;
}

.display-4 {
    color: white;
    font-size: xxx-large;
}

.carousel-inner {
    margin-top: 10px;
    text-align: center;
    width: 900px;
    height: 500px;
    margin-left: auto;
    margin-right: auto;
}

@media all and (max-width: 500px) {
    .container {
        margin-top: 20px;
    }
    .card {
        width: 250px;
    }
    .display-4 {
        color: white;
        font-size: xx-large;
    }
    img {
        width: 300px;
        height: 220px;
    }
    .carousel-inner {
        width: 300px;
        height: 220px;
        margin-top: 10px;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }
    .card-deck {
        text-align: -webkit-center;
    }
}