<div class="container">
    <h1><i>Chi siamo</i></h1>
    <div>
        <h3>
            <i> La Nostra Storia</i>
        </h3>
    </div>
    <p>
        Il centro culturale G. Leopardi nasce nel 1981 e si pone, a Recanati
        e nelle città vicine, come luogo di dialogo e di aggregazione per tutti
        coloro che amano l’arte, la storia, la lettura, la letteratura, la musica.
    </p>
    <div>
    </div>
    <p>
        Dal 2002 ha allargato la sua base associativa, ha stipulato
        convenzioni e programmato la sua attività in modo preciso e
        sistematico abbracciando l’intero territorio regionale.
    </p>
    <div style="margin-top: 15px;">
    </div>
    <p>
        Dal 29/12/2004 è iscritto al n°. 348/SOS nella sezione II del registro
        regionale delle Associazioni di Promozione Sociale, ai sensi dell’art.
        5 comma 4 della L.R. 9/2004.
        Dal 2013 il centro culturale inizia una serie di pubblicazioni e di
        attività di approfondimento dell&#39;opera e del pensiero del poeta pur
        mantenendo un profilo culturale ad ampio raggio che abbraccia la
        musica, l’arte, la lettura e la letteratura.
    </p>
    <div style="margin-top: 15px;">
    </div>
    <p>
        La passione che anima chi lo ha fondato e chi lo guida è l&#39;uomo e la
        sua esperienza nella concretezza del reale; l&#39;uomo e il suo
        desiderio di trovare ciò che dà consistenza e significato al suo fare.
    </p>
    <div style="margin-top: 15px;">
    </div>
    <p>
        A questo riguardo dal 2002 è possibile associarsi versando 20 Euro
        al Centro Culturale G. Leopardi – Recanati (IBAN
        IT55C0311169131000000020021) in modo da conoscere le
        iniziative in programmazione e poter partecipare.
    </p>
    <div style="margin-top: 15px;">
        <p>
            Leopardi produce l’effetto contrario a quello che si propone. Non crede al progresso e te lo fa desiderare.
            Chiama illusioni la gloria, l’amore e la virtù e te ne accende in petto un desiderio inesausto. È scettico e
            ti fa credente.
            Francesco De Sanctis, Saggi critici, 1858
        </p>
    </div>
    <div style="margin-top: 15px;">
        <p>
            Ad ognuno viene consegnato un pieghevole con testi e notizie su Giacomo Leopardi e la sua famiglia per
            agevolare la comprensione
        </p>
    </div>

    <div style="margin-bottom: 20px;" id="carouselExampleControls" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="assets\images\App.jpg" alt="First slide">
            </div>
            <div class="carousel-item">
                <img src="assets\images\app2.jpg" alt="Second slide">
            </div>
            <div class="carousel-item">
                <img src="assets\images\Immagine App.jpg" alt="Third slide">
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Precedente</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Successiva</span>
        </a>
    </div>
</div>