<div class="container">
<h1>Chi siamo</h1>
<div>
    <h3>
        La Nostra Storia
    </h3>
</div>
<p>
    Il centro culturale G. Leopardi nasce nel 1981 come  centro culturale  Charles Péguy e si pone, a Recanati e nelle città vicine, come luogo di dialogo e di aggregazione per tutti coloro che amano l’arte, la storia, la lettura, la letteratura, la musica.

Nel primo decennio la sua attività si è svolta prevalentemente nell’ambito del territorio recanatese.

Dal 1995 ha ampliato i suoi orizzonti e si è strutturato al suo interno fino ad aggregare realtà culturali limitrofe.

Nel 2002 ha allargato la sua base societaria, ha stipulato convenzioni e programmato la sua attività in modo preciso e sistematico abbracciando l’intero territorio regionale.

Dal 29/12/2004 è iscritto al n°. 348/SOS nella sezione II del registro regionale delle Associazioni di Promozione Sociale, ai sensi dell’art. 5 comma 4 della L.R. 9/2004.

Fin dalla costituzione un punto di interesse è stata la figura di G. Leopardi, a tal punto che nel 2013  il centro culturale cambia denominazione e diventa Centro culturale "G. Leopardi" dando vita ad una serie di pubblicazioni e di attività di approfondimento dell'opera e del pensiero dell'illustre concittadino.

La passione che anima chi lo ha fondato e chi in questi anni lo ha curato e seguito è l'uomo e la sua esperienza nella concretezza del reale; l'uomo e il suo desiderio di trovare ciò che dà consistenza e significato al suo fare.

Lo  sguardo  attento all’esperienza cristiana e il rendersi conto della diversità ed estraneità dell’ambiente  rendono paradossalmente più potente l’incontro e la valorizzazione dell’altro, senza sentire nemico nessuno, in rapporto con tutti gli uomini, come testimoniano i molteplici incontri che si sviluppano da ogni iniziativa.
</p>
</div>