<div class="container">
    <h1><b><i>Capitolo 7: Il Colle dell'infinito</i></b></h1>
    <div class="text">
        <h1><b><i>L'infinito</i></b>
            <button class="button" data-toggle="collapse" href="#multiCollapseExample7" aria-expanded="false"
                aria-controls="multiCollapseExample7" style="vertical-align:middle" (click)="enableDisableRule()"
                [ngClass]="{'button' : toggle, 'buttonClicked': !toggle}"><span>
                    <mat-icon>menu_book</mat-icon>
                </span></button>
            <button class="button1" data-toggle="collapse" href="#multiCollapseExample8" aria-expanded="false"
                aria-controls="multiCollapseExample8" style="vertical-align:middle; margin-top: 10px;"
                (click)="enableDisableRule1()" [ngClass]="{'button1' : toggle1, 'button1Clicked': !toggle1}"><span>
                    <mat-icon>audiotrack</mat-icon>
                </span></button>
        </h1>
        <div class="collapse multi-collapse" id="multiCollapseExample7">
            <pre>
    Sempre caro mi fu quest'ermo colle,
    e questa siepe, che da tanta parte
    dell'ultimo orizzonte il guardo esclude.
    Ma sedendo e mirando, interminati
    spazi di là da quella, e sovrumani
    silenzi, e profondissima quïete
    io nel pensier mi fingo, ove per poco
    il cor non si spaura. E come il vento
    odo stormir tra queste piante, io quello
    infinito silenzio a questa voce
    vo comparando: e mi sovvien l'eterno,
    e le morte stagioni, e la presente
    e viva, e il suon di lei. Così tra questa
    immensità s'annega il pensier mio:
    e il naufragar m'è dolce in questo mare
  </pre>
            <button class="button" data-toggle="collapse" href="#multiCollapseExample7" aria-expanded="false"
                aria-controls="multiCollapseExample7" style="vertical-align:middle; margin-left: 50%;"><span><i
                        class="arrow up"></i></span></button>
        </div>
    </div>
    <div class="collapse multi-collapse" id="multiCollapseExample8">
        <div style="margin-top: 5%;" class="wrapper mat-typography" fxLayout="column" fxLayoutGap="32px">
            <mat-card style="width: responsive; height: 50px;">
                <div mat-card-image plyr plyrTitle="Audio" plyrType="audio" [plyrPlaysInline]="true"
                    [plyrCrossOrigin]="true" [plyrSources]="'./assets/audio/Inquietudine della vita.mp3'"></div>
            </mat-card>
        </div>
    </div>

    <div class="text">

        <h1><b><i>Le ricordanze VV 50-70</i></b>
            <button class="button" data-toggle="collapse" href="#multiCollapseExample9" aria-expanded="false"
                aria-controls="multiCollapseExample9" style="vertical-align:middle" (click)="enableDisableRule2()"
                [ngClass]="{'button' : toggle2, 'buttonClicked': !toggle2}"><span>
                    <mat-icon>menu_book</mat-icon>
                </span></button>
            <button class="button1" data-toggle="collapse" href="#multiCollapseExample10" aria-expanded="false"
                aria-controls="multiCollapseExample10" style="vertical-align:middle; margin-top: 10px;"
                (click)="enableDisableRule3()" [ngClass]="{'button1' : toggle3, 'button1Clicked': !toggle3}"><span>
                    <mat-icon>audiotrack</mat-icon>
                </span></button>
        </h1>
        <div class="collapse multi-collapse" id="multiCollapseExample9">
            <pre>
        Viene il vento recando il suon dell'ora
        Dalla torre del borgo. Era conforto
        Questo suon, mi rimembra, alle mie notti,
        Quando fanciullo, nella buia stanza,
        Per assidui terrori io vigilava,
        Sospirando il mattin. Qui non è cosa
        Ch'io vegga o senta, onde un'immagin dentro
        Non torni, e un dolce rimembrar non sorga.
      </pre>
            <button class="button" data-toggle="collapse" href="#multiCollapseExample9" aria-expanded="false"
                aria-controls="multiCollapseExample9" style="vertical-align:middle; margin-left: 50%;"><span><i
                        class="arrow up"></i></span></button>
        </div>
    </div>

    <div class="collapse multi-collapse" id="multiCollapseExample10">
        <div style="margin-top: 5%;" class="wrapper mat-typography" fxLayout="column" fxLayoutGap="32px">
            <mat-card style="width: responsive; height: 50px;">
                <div mat-card-image plyr plyrTitle="Audio" plyrType="audio" [plyrPlaysInline]="true"
                    [plyrCrossOrigin]="true" [plyrSources]="'./assets/audio/Inquietudine della vita.mp3'"></div>
            </mat-card>
        </div>
    </div>

    <button><span>
            <mat-icon>arrow_back_ios</mat-icon>
            <p>Capitolo precedente: Piazzuola del sabato del villaggio</p>
        </span></button>
    <button><span>
            <mat-icon>arrow_forward_ios</mat-icon>
            <p>Prossimo capitolo: La torre del passero solitario</p>
        </span></button>
</div>