<div class="container" style="text-align-last: center;">
  <h1><i>Centro Nazionale Studi Leopardiani</i></h1>
  <img class="card-img-top" style="width: 300px;margin-bottom: 30px;"
    src="assets\images\06_Centro_Nazionale_Leopardi_2_copia_DxOFP.jpg" alt="Card image cap">

  <google-map height="500px" width="100%" [zoom]="zoom" [center]="center" [options]="options"
    (mapClick)="click($event)">
    <map-marker #markerElem *ngFor="let marker of markers" [position]="marker.position" [label]="marker.label"
      [title]="marker.title" [options]="marker.options" (mapClick)="openInfo(markerElem, marker.info)">
    </map-marker>

    <map-info-window>{{ infoContent }}</map-info-window>
  </google-map>

  <div class="text">
    Risalendo la "piazzuola" e costeggiando verso sinistra casa Leopardi, percorriamo per circa cinquanta metri una
    stradina che porta verso il monte Tabor, meglio conosciuto come Colle dell'Infinito. Fatti pochi passi ancora, ci
    imbattiamo nell'ampia scalinata del

    <a data-toggle="collapse" href="#multiCollapseExample1" aria-expanded="false"
      aria-controls="multiCollapseExample1">Centro Nazionale Studi Leopardiani</a>
    <div class="collapse multi-collapse" id="multiCollapseExample1">
      <img style="width: 300px;margin-bottom: 30px;" src="assets\images\06_Centro_Nazionale_Leopardi_2_copia_DxOFP.jpg">
    </div>

    , istituto sorto nel 1937 allo scopo di diffondere l'opera di Giacomo Leopardi attraverso convegni, seminari e
    presentazioni di libri. Il Centro dispone di un'ampia biblioteca e possiede il

    <a data-toggle="collapse" href="#multiCollapseExample2" aria-expanded="false"
      aria-controls="multiCollapseExample2">ritratto del poeta, realizzato nel 1845 da Domenico Morelli</a>
    <div class="collapse multi-collapse" id="multiCollapseExample2">
      <img style="width: 300px;margin-bottom: 30px;" src="assets\images\Giacomo_Leopardi_Morelli.jpg">
    </div>

    con l’assistenza di Antonio Ranieri sulla base della maschera mortuaria. Soffermiamoci a guardare questo ritratto,
    molto somigliante secondo il Ranieri, amico napoletano con cui Leopardi visse gli ultimi anni della sua vita: lo
    sguardo di Giacomo, il suo pallore, il venir fuori dal buio del fondo, catturano e fanno dire: “se lo avessimo
    conosciuto!” Averlo conosciuto! Leopardi non era sicuramente un personaggio col quale era facile stare, che
    ispirasse
    simpatia. Al contrario era taciturno, soffriva la luce per problemi agli occhi, non tollerava la mediocrità ed era
    assolutamente avverso all’adulazione che invece molti gli manifestavano. Per meglio comprendere quest’ultimo aspetto
    caratteriale ci viene in aiuto lo stesso Ranieri il quale, scrivendo a Monaldo il 18 luglio 1837, nell’ambito di un
    carteggio tra i due a seguito della morte di Giacomo, ci informa che …Giacomo in questi ultimi anni era divenuto
    sdegnosissimo del pettegolezzo letterario, e non mandando le sue cose a nessuno, da non molti gli erano inviate le
    loro. Delle molte sciocche, poi, fra quelle che gli erano inviate egli faceva un tristo governo, servendosene, ove
    la
    carta ne fosse morbida, per le sue consuetudini mattinali e facendone insino parte agli amici per l’uso medesimo.
    Sulla scalinata del Centro Nazionale Studi Leopardiani, immersi nel verde che lo circonda, dove è facile trovare
    silenzio e concentrazione, rimaniamo stupiti quando scopriamo che per Giacomo la noia è il più sublime dei
    sentimenti
    umani perché è la constatazione del non potere essere soddisfatti da alcuna cosa terrena. La noia per lui è il segno
    della nobiltà e della grandezza della natura umana, esperienza reale di una esistenza mai paga. Nulla riesce a
    colmare
    il desiderio dell’uomo che ha natura infinita. Questa contraddizione per Leopardi è strutturale, non si può colmare
    o
    eliminare, tanto che chiama uomini di nessun momento coloro che non vivono e non provano questo sentimento. Il poeta
    esprime questa sproporzione dell'animo di fronte alla realtà nel Pensiero LXVIII.
    "La noia è in qualche modo il più sublime dei sentimenti umani. Non che io creda che dall'esame di tale sentimento
    nascano quelle conseguenze che molti filosofi hanno stimato di raccorne, ma nondimeno il non potere essere
    soddisfatto
    da alcuna cosa terrena, né, per dir così, dalla terra intera; considerare l'ampiezza inestimabile dello spazio, il
    numero e la mole maravigliosa dei mondi, e trovare che tutto è poco e piccino alla capacità dell'animo proprio;
    immaginarsi il numero dei mondi infinito, e l'universo infinito, e sentire che l'animo e il desiderio nostro sarebbe
    ancora più grande che sì fatto universo; e sempre accusare le cose d'insufficienza e di nullità, e patire mancamento
    e
    vòto, e però noia, pare a me il maggior segno di grandezza e di nobiltà, che si vegga della natura umana. Perciò la
    noia è poco nota agli uomini di nessun momento, e pochissimo o nulla agli altri animali."
  </div>
</div>