<div class="container">
    <h1><b><i>Capitolo 8: Casa di Adelaide Antici</i></b></h1>
    <div class="text">
        <h1><b><i>Testo di Monaldo</i></b></h1>
        <p style="text-align: center;">
            <button class="button" data-toggle="collapse" href="#multiCollapseExample1" aria-expanded="false"
                aria-controls="multiCollapseExample1" style="vertical-align:middle" (click)="enableDisableRule()"
                [ngClass]="{'button' : toggle, 'buttonClicked': !toggle}"><span>
                    <mat-icon>menu_book</mat-icon>
                </span></button>

            <button class="button1" data-toggle="collapse" href="#multiCollapseExample2" aria-expanded="false"
                aria-controls="multiCollapseExample2" style="vertical-align:middle" (click)="enableDisableRule1()"
                [ngClass]="{'button1' : toggle1, 'button1Clicked': !toggle1}"><span>
                    <mat-icon>audiotrack</mat-icon>
                </span></button>
        </p>

        <p>
            <button class="back" routerLink="/poesia-colle-infinito">
                <mat-icon>arrow_back_ios</mat-icon>
            </button>
            <button class="forward" routerLink="/poesia-via-roma">
                <mat-icon>arrow_forward_ios</mat-icon>
            </button>
        </p>

        <div class="collapse multi-collapse" id="multiCollapseExample1">
            <p class="pre">
                “ Io ho conosciuto intimamente una madre di famiglia che non era punto superstiziosa, ma saldissima ed
                esattissima nella
                credenza cristiana, e negli esercizi della religione. Questa non solamente non compiangeva quei genitori
                che perdevano i
                loro figli bambini, ma gl'invidiava intimamente e sinceramente, perchè questi erano volati al paradiso
                senza pericoli, e
                avevano liberati i genitori dall'incomodo di mantenerli. Trovandosi più volte in pericolo di perdere i
                suoi figli nella
                stessa età, non pregava Dio che li facesse morire, perchè la religione non lo permette, ma gioiva
                cordialmente; e
                vedendo piangere o affliggersi il marito, si rannicchiava in se stessa, e provava un vero e sensibile
                dispetto. Era
                esattissima negli uffizi che rendeva a quei poveri malati, ma nel fondo dell'anima desiderava che
                fossero inutili, ed
                arrivò a confessare che il solo timore che provava nell'interrogare o consultare i medici, era di
                sentirne opinioni o
                ragguagli di miglioramento. Vedendo ne' malati qualche segno di morte vicina, sentiva una gioia profonda
                (che si
                sforzava di dissimulare solamente con quelli che la condannavano); e il giorno della loro morte, se
                accadeva, era per
                lei un giorno allegro ed ameno, nè sapeva comprendere come il marito fosse sì poco savio da
                attristarsene. Considerava
                la bellezza come una vera disgrazia, e vedendo i suoi figli brutti o deformi, ne ringraziava Dio, non
                per eroismo, ma di
                tutta voglia. Non proccurava in nessun modo di aiutarli a nascondere i loro difetti, anzi pretendeva che
                in vista di
                essi, rinunziassero interamente alla vita nella loro prima gioventù : se resistevano, se cercavano il
                contrario, se vi
                riuscivano in qualche minima parte, n'era indispettita, scemava quanto poteva colle parole e
                coll'opinion sua i loro
                successi (tanto dei brutti quanto dei belli, perché n'ebbe molti), e non lasciava passare anzi cercava
                studiosamente
                l'occasione di rinfacciar loro, e far conoscere i loro difetti, e le conseguenze che ne dovevano
                aspettare, e
                persuaderli della loro inevitabile miseria, con una veracità spietata e feroce. Sentiva i cattivi
                successi de' suoi
                figli in questo o simili particolari, con vera consolazione, e si tratteneva di preferenza con loro
                sopra ciò che aveva
                sentito in loro disfavore. Tutto questo per liberarli dai pericoli dell'anima, e nello stesso modo si
                regolava in tutto
                quello che spetta all'educazione dei figli, al produrli nel mondo, al collocarli, ai mezzi tutti di
                felicità temporale.
                Sentiva infinita compassione per li peccatori, ma pochissima per le sventure corporali o temporali,
                eccetto se la natura
                talvolta la vinceva. Le malattie, le morti le più compassionevoli de' giovanetti estinti nel fior
                dell'età, fra le più
                belle speranze, col maggior danno delle famiglie o del pubblico ec. non la toccavano in verun modo.
                Perché diceva che
                non importa l'età della morte, ma il modo: e perciò soleva sempre informarsi curiosamente se erano morti
                bene secondo la
                religione, o quando erano malati, se mostravano rassegnazione ec. E parlava di queste disgrazie con una
                freddezza
                marmorea. Questa donna aveva sortito dalla natura un carattere sensibilissimo, ed era stata così ridotta
                dalla sola
                religione. Ora questo che altro è se non barbarie? “Eccomi dunque marito. Iddio nell’ampiezza della sua
                misericordia non
                poteva accordarmi una compagna più saggia, affettuosa e pia di questa mia buona moglie. Ventisei anni
                già compiti di
                matrimonio non hanno smentita un momento solo la sua condotta irreprensibile e ammirata da tutti, e
                questa donna forte,
                intenta solo ai doveri e alle cure del suo stato, non ha mai conosciuto altra volontà, piaceri, o
                interessi se non
                quelli della Famiglia e di Dio. Le obbligazioni che io le professo sono innumerabili come è illimitato
                l’affetto che
                sento per Lei, e il suo ingresso nella mia Famiglia è stato una vera benedizione. Dunque avrò io potuto
                sottrarmi
                avventuratamente a quella mano che castiga visibilmente tutti quei figli i quali disgustano i propri
                Genitori, e si
                maritano senza consenso loro? No, no. Io restai inesorabile al pianto che la mia cara Madre versò ai
                miei piedi, e ne
                sono punito terribilmente. Gli arsenali delle vendette divine sono inesausti, e tremino quei figli che
                ardiscono di
                provocarle. Il naturale e il carattere di mia moglie, e il naturale e carattere miei sono diversi,
                quanto sono distanti
                fra loro il cielo e la terra. Chi ha moglie conosce il valore di questa circostanza, e chi non l’ha non
                si curi di
                sperimentarlo.”
            </p>
            <button class="button" data-toggle="collapse" href="#multiCollapseExample1" aria-expanded="false"
                aria-controls="multiCollapseExample1" style="vertical-align:middle; margin-left: 50%;"><span><i
                        class="arrow up"></i></span></button>
        </div>
    </div>

    <div class="collapse multi-collapse" id="multiCollapseExample2">
        <div style="margin-top: 5%;" class="wrapper mat-typography" fxLayout="column" fxLayoutGap="32px">
            <mat-card style="width: responsive; height: 50px;">
                <div mat-card-image plyr plyrTitle="Audio" plyrType="audio" [plyrPlaysInline]="true"
                    [plyrCrossOrigin]="true" [plyrSources]="'./assets/audio/Inquietudine della vita.mp3'"></div>
            </mat-card>
        </div>
    </div>
</div>