<div class="container" style="margin-top: 20px;">

    Salve e benvenuto nella tua area riservata
    
<button *ngIf="admin" routerLink="/area-riservata">
    Vai alla tua area riservata
</button>

<button *ngIf="visitor" routerLink="/prenotazione-visita">
    Vai alla prenotazione visita
</button>

<button *ngIf="visitor" routerLink="/info-visitatore">
    Vai alle tue informazioni dell'account
</button>

<button *ngIf="admin" routerLink="/utenti-registrati">
    Vai alla pagina di utenti registrati
</button>

</div>
