<div class="container" style="text-align-last: center;">
    <h1><i>Palazzo Venieri</i></h1>
    <img class="card-img-top" style="width: 300px;margin-bottom: 30px;"
        src="assets\images\Palazzo Venieri_IGP1050_DxOFP.JPG" alt="Card image cap">

    <google-map height="500px" width="100%" [zoom]="zoom" [center]="center" [options]="options"
        (mapClick)="click($event)">
        <map-marker #markerElem *ngFor="let marker of markers" [position]="marker.position" [label]="marker.label"
            [title]="marker.title" [options]="marker.options" (mapClick)="openInfo(markerElem, marker.info)">
        </map-marker>

        <map-info-window>{{ infoContent }}</map-info-window>
    </google-map>

    <div class="text">

        Col sorriso negli occhi percorriamo l’ultimo tratto della nostra visita guidata dirigendoci verso Palazzo
        Venieri e il centro città. Ancora non riusciamo ad intravvedere scorci di panorama poichè i caseggiati
        settecenteschi con stemmi, scritte latine, ideogrammi sui portali, fanno ala al nostro passaggio: testimonianza
        di un tempo passato che noi possiamo solo immaginare.


        <a data-toggle="collapse" href="#multiCollapseExample1" aria-expanded="false"
            aria-controls="multiCollapseExample1">Palazzo Venieri</a>
        <div class="collapse multi-collapse" id="multiCollapseExample1">
            <img style="width: 300px;" src="assets\images\Palazzo Venieri_IGP1050_DxOFP.JPG">
        </div>

        che i recanatesi chiamano palazzo degli studi, sede del liceo classico, fu edificato dal cardinale Venieri nella
        seconda metà del 1400 e negli anni in cui visse Giacomo era abitato dalla nobile famiglia Carradori. L’edificio
        vede la mano dell’architetto toscano Giuliano da Majano quando su incarico del papa stava seguendo i lavori
        della basilica di Loreto.

        I giardini pubblici al di là della strada erano parte del palazzo e collegati da una galleria alle vecchie
        scuderie. Entriamo nel cortile: a destra un pozzo, davanti a noi in alto sotto l’antico orologio, l’ammonimento
        “volat irreparabile tempus”. Ora una apertura con balaustra ci incanta: la vista sulla costa spazia da Osimo a
        Civitanova Marche e oltre; davanti l’Adriatico, a sinistra il Monte Conero, un po’ a destra Loreto e il
        pinnacolo della Santa Casa, che di sera illuminato è più riconoscibile. Nella valle scorre il fiume Musone che
        quasi incrocia la selva di Castelfidardo che nel 1860 è stata testimone - e un piccolo cimitero in lontananza ce
        lo ricorda - della battaglia tra le truppe pontificie di Pio IX e l’esercito piemontese che aveva invaso i
        territori della Chiesa. Quello scontro fu l’inizio della fine del potere temporale dei papi e permise la nascita
        dell’Italia unita.

        L’atrio di Palazzo Venieri è sempre tranquillo di pomeriggio e costituisce una sosta decisiva nel nostro
        procedere verso la conoscenza del grande poeta. Il bravo cicerone qui a volte sale sopra l’antico pozzo e così
        elevato da terra, recita a memoria e spiega il canto Alla sua donna. Chi ascolta rimane a bocca aperta. L’inno è
        poco conosciuto, generalmente non viene fatto studiare a scuola e presenta una certa complessità che occorre
        svelare, tanto che il Manzoni stesso ad un prima lettura trovò il testo incomprensibile. Scritto a Recanati in
        sei giorni nel settembre del 1823 è, analizzando l’autografo, un elaborato che presenta numerose varianti e
        annotazioni, segno di un lavoro intenso e certosino. Il contenuto si svela attraverso la ripetizione nel tempo
        delle parole usate da Leopardi che come una preghiera via via si palesano nel loro vero significato: è evidente
        quindi che diventa più semplice approcciare questo testo con l’aiuto di un maestro, di uno che ci aiuti a
        capire.

        Nell’inno Alla sua donna, inno alla bellezza - quella bellezza che deve invadere il quotidiano e senza la quale
        come direbbe Pavese “il vivere taglia le gambe” - Leopardi dialoga con una alterità la cui presenza è certa, è
        quindi il canto alla bellezza con la B maiuscola quella che neanche il suo pessimismo riesce a cancellare.
        Iniziamo quindi lentamente la lettura.

        Per essere meglio introdotti a questa importante poesia che incrocia ora il nostro percorso proponiamo un
        tentativo di parafrasi pur consapevoli che “L’analisi delle cose è la morte della bellezza o della grandezza
        loro…”

        Per prima cosa ci lasciamo guidare da Leopardi stesso che nel Nuovo Ricoglitore del 1825 propose una spiegazione
        dell’inno, cercando per lo meno di definire chi fosse quella Cara beltà che amore lunge m’inspiri. Essa è la
        donna, cioè l’innamorata, dell’autore, è una di quelle immagini, uno di quei fantasmi di bellezza e virtù
        celeste e ineffabile, che ci occorrono spesso alla fantasia, nel sonno e nella veglia […] o in una quasi
        alienazione della mente, quando siamo giovani. In fine è la donna che non si trova. […] L’autore[…] la cerca tra
        le idee di Platone, la cerca nella luna, nei pianeti del sistema solare, in quei de’ sistemi delle stelle […] e
        sarà pur certo che questo tale amore non può dare né patire gelosia, perché, fuor dell’autore, nessun amante
        terreno vorrà fare all’amore col telescopio. <br>

        Andiamo ora alla parafrasi.<br>

        <ul type="1">
            <li>
                Cara bellezza, che mi ispiri amore da lontano, da sempre nascondendo il volto, tranne che nel sonno,
                come un’ ombra divina che mi scuota il cuore o come nei campi quando splende il sole e la natura irride
                alla bellezza. Forse tu hai reso beato il secolo che è stato chiamato “età dell’oro”; ora lievemente
                voli tra la gente come un’anima? o ancora, l’amara sorte che non permette a noi di vederti, non sarà
                amara per coloro che verranno dopo di noi?
            </li>

            <li>
                Non ho più speranza di vederti viva, o bellezza. Forse su nuove strade e dimore straniere, solo cioè
                morto, ti potrà vedere il mio spirito. Giovane, fin da subito ho pensato che tu potessi essere
                “viatrice”, strada in questa terra, ma niente ti somiglia se ci fosse sarebbe sempre meno bella di te,
                della bellezza che desidero.
            </li>

            <li>
                Tra tanto dolore, quanto all’umanità destinò il fato, se vera, come ti immagino, qualcuno ti amasse
                sulla terra, per lui il vivere sarebbe felice e ne sono certo, visto che ancora seguo lode e virtù come
                nella giovinezza, quando mi è sorto questo amore verso di te. Il destino, non ci ha dato nessun conforto
                e con te la vita mortale diventerebbe come quella di chi sta in paradiso.
            </li>

            <li>
                Per le valli dove giunge il canto dell’agricoltore che lavora, mentre io mi lamento del sogno giovanile
                che sta svanendo e per i colli dove ricordo e piango i desideri perduti e la perduta speranza dei giorni
                che vivo, nonostante questo, mi sveglio e palpito per te (Bellezza) e in questo secolo tetro, che bella
                cosa poter avere sempre vivo questo desiderio di te, appagarmi della tua immagine, visto che il tuo vero
                volto mi è negato!
            </li>
            <li>
                Se tu sei una delle idee eterne che non degni farti carne e diventare mortale; se rifiuti di provare lo
                stato umano, gli affanni e la vita che decade (cui di sensibil forma sdegni l'eterno senno esser
                vestita) -
                Giulio Augusto Levi direbbe “che Iddio stimò troppo bella per permetterle di vestirsi di forme
                sensibili” -
                o fai parte di un’altra terra, un altro pianeta, sei in cielo, e sei irraggiata da un’altra stella, più
                brillante del sole, e respiri un’aria più propizia; allora, da me, che faccio parte di questo mondo dove
                gli
                anni sono infausti e brevi, ricevi questo inno, ricevi questa preghiera, come grido di un ignoto.
            </li>
        </ul>

        La prova del nove del Leopardi scettico, non credente, ateo che al contrario “ti fa credente” ci viene a titolo
        di esempio da uno dei più grandi educatori cattolici del XIX secolo, Luigi Giussani, il quale entrato in
        seminario giovanissimo, in terza ginnasio studiò a memoria tutte le poesie di Leopardi perché la problematica
        che il poeta gli sollevava gli sembrava oscurasse tutte le altre. Anche lui fissò l’attenzione sull’Inno Alla
        sua donna definendolo chiave di volta di tutta la produzione leopardiana. Rappresentando questa una tappa
        decisiva del percorso proposto, dedichiamo un po’ di attenzione alla comprensione della genesi del componimento
        in modo che si possa capire la sua eccezionalità all’interno di tutta l’eccellenza leopardiana e si fissi
        l’attenzione sull’ esperienza che condusse Leopardi a scrivere questi versi.

        Nell’anno 1823, anno della composizione dell’inno, si coagulano in Leopardi una serie di sensazioni e di
        emozioni nuove che lo vedono protagonista. Il 17 novembre 1822 parte per Roma, ospite dello zio Carlo Antici: è
        la prima volta che lascia Recanati e, fatto non di poco conto, da solo perché nelle sue passeggiate recanatesi
        veniva sempre accompagnato, quasi guardato a vista. Ora a Roma ha la possibilità di gestire autonomamente la sua
        esistenza e cercare un impiego. Aveva sperato di entrare nel giro dei grandi intellettuali e degli artisti
        famosi, ma questi gli manifestarono indifferenza. Provò la via dei rapporti nobiliari e delle lettere di
        raccomandazione per trovare un impiego, ma per avere un incarico amministrativo avrebbe dovuto farsi prete o
        prendere l’abito di Corte (senza necessità cioè di prendere gli ordini sacri), ma Giacomo non pensava
        minimamente di “vestire la mantelletta” dato che stava vivendo una fase di profonda crisi religiosa e in cuor
        suo aveva già fatto la scelta di campo. A Roma rimase poco più di cinque mesi, ma per la quaestio che stiamo
        trattando è un periodo decisivo.

        Nella capitale gli viene proposto dall’editore De Romanis di curare una traduzione di tutte le opere di Platone:
        è un lavoro lungo e con scarso profitto. Il padre esaminando un esemplare di Platone del 1590 presente nella sua
        biblioteca e considerando la mole di lavoro che la traduzione avrebbe comportato spinge il figlio a rifiutare
        l’incarico per l’esiguità del compenso, pari alla retribuzione del cuoco di famiglia. Giacomo riprende però in
        mano i testi del filosofo greco e l’inno nell’ultima strofa – se dell’eterne idee l’una sei tu – è chiaramente
        l’esito poetico di questo periodo che potremmo definire “platonico”, confermato anche da una lettera del 5
        luglio 1835 di Karl Bunsen, il quale scrivendogli lo apostrofa “antico platonico”. Il Bunsen, nel 1823 primo
        segretario del ministro di Prussia in missione al Vaticano, si riferisce a quel Leopardi fervente platonico
        conosciuto a Roma tredici anni prima e quel Leopardi gli appare in antitesi con l’attuale “osservatore acuto e
        ipocondriaco dell’ipocrisia degli uomini, della viltà dei caratteri del nostro tempo” .

        Anche un’altra lettera, la prima scritta dopo il suo ritorno a Recanati, in francese, bellissima nei contenuti,
        con data 23 giugno 1823 ad André Jacopssen, un giovane letterato belga con cui aveva fatto amicizia a Roma,
        manifesta come Leopardi fosse divenuto capace di affrontare tematiche metafisiche e religiose, quasi una
        spiritualizzazione dei sentimenti che gli fa dire bisognerebbe o non vivere proprio o sempre sentire, sempre
        amare, sempre sperare. La sensibilità sarebbe il più prezioso di tutti i doni, se lo si potesse far valere, o se
        ci fosse in questo mondo qualche oggetto a cui applicarlo […] Che cos’è dunque la felicità, mio caro amico? E se
        la felicità non esiste, che cos’è dunque la vita? Io non ne so nulla, […]

        Il 3 maggio 1823 Giacomo rivede le colline verso il mare, mai avrebbe immaginato un ritorno così felice a casa:
        gli abbracci, le lacrime con i suoi, le “quiete stanze” che neanche lui pensava di desiderare così tanto. Un
        momento di autentica felicità. Col ritorno si accorge anche di essere cambiato perché la libertà romana lo
        metteva in paragone continuo con gli atteggiamenti di sotterfugio familiari: cominciava a tollerare di meno
        Carlo che perdeva tempo dietro al gioco e alle donne, soffriva Paolina ansiosa di trovar marito, ma anche gli
        altri legami domestici gli davano fastidio, tutta forma e poca sostanza. Giacomo, così, partendo dall’esperienza
        dell’Urbe che lo aveva visto per mesi nuovo protagonista e punto di riferimento per consigli e consulenze della
        famiglia, ritorna ad essere desideroso e amante molto più di prima del silenzio e della solitudine per gustare
        le gioie dello spirito. Legge l’Iliade e scopre che Omero accentra nel poema il suo interesse per la compassione
        della virtù infelice e si compiace di questa scoperta che trova simile, come giudizio, alla sua condizione
        umana.

        Questa “sublimità del sentire” densa di emozioni e struggimento, in un crescendo armonioso facilitato dal
        ritorno al bel Recanati , il 12 agosto fa registrare nello Zibaldone l’appunto Niuna cosa maggiormente dimostra
        la grandezza e la potenza dell’umano intelletto, nè l’altezza e nobiltà dell’uomo, che il poter l’uomo conoscere
        e interamente comprendere e fortemente sentire la sua piccolezza. Quando egli considerando la pluralità de’
        mondi, si sente essere infinitesima parte di un globo ch’è minima parte d’uno degli infiniti sistemi che
        compongono il mondo, e in questa considerazione stupisce della sua piccolezza, e profondamente sentendola e
        intentamente riguardandola, si confonde quasi col nulla, e perde quasi se stesso nel pensiero della immensità
        delle cose, e si trova come smarrito nella vastità incomprensibile dell’esistenza; allora con questo atto e con
        questo pensiero egli dà la maggior prova possibile della sua nobiltà, della forza e della immensa capacità della
        sua mente, la quale rinchiusa in sì piccolo e menomo essere, è potuta pervenire a conoscere e intender cose
        tanto superiori alla natura di lui, e può abbracciare e contener col pensiero questa immensità medesima della
        esistenza e delle cose. Certo niuno altro essere pensante su questa terra giunge mai pure a concepire o
        immaginare di esser cosa piccola o in se o rispetto all’altre cose, eziandio ch’ei sia, quanto al corpo, una
        bilionesima parte dell’uomo, per nulla dire dell’animo. E veramente quanto gli esseri più son grandi, quale
        sopra tutti gli esseri terrestri si è l’uomo, tanto sono più capaci della conoscenza e del sentimento della
        propria piccolezza. Onde avviene che questa conoscenza e questo sentimento anche tra gli uomini sieno infatti
        tanto maggiori e più vivi, ordinari, continui e pieni, quanto l’individuo è di maggiore e più alto e più capace
        intelletto ed ingegno. Questo pensiero così profondamente razionale non si qualifica nel contempo come
        atteggiamento religioso?

        Sempre nelle sue carte, seppur si fosse educato al rifiuto di ogni concetto mistico, come non intravedere una
        dottrina delle idee eterne nel passo scritto il 4 settembre 1823, nel quale viene messa a tema l’idea del
        giusto, del dovere e del diritto? Se l’idea del giusto e dell’ingiusto, del buono e del cattivo morale, non
        esiste o non nasce per se nell’intelletto degli uomini, niuna legge di niun legislatore può far che un’azione o
        un’ommissione sia giusta nè ingiusta, buona nè cattiva. Perocchè non vi può esser niuna ragione per la quale sia
        giusto nè ingiusto, buono nè cattivo, l’ubbidire a qualsivoglia legge; e niun principio vi può avere sul quale
        si fondi il diritto che alcuno abbia di comandare a chi che sia, se l’idea del giusto, del dovere e del diritto,
        non è innata o inspirata […] negl’intelletti umani.

        Sono queste le tappe che conducono gradatamente alla composizione dell’inno Alla sua donna, unico canto del
        1823, quasi un appagamento, un compimento, un vertice lirico, con una maniera di poetare diversa.
    </div>
</div>