<div class="container">
    <h1>BACHECA EVENTI</h1>

    <div *ngFor="let e of eventi" style="margin-bottom:30px"> 
        Nome evento: {{ e.nomeEvento }}
        <hr>
        Data evento: {{ e.dataEvento }}
        <hr>
        Descrizione evento: {{ e.descrizione }}
        <hr>
        {{ e.evento_immagine.name }}
        {{ e.evento_immagine.type }}
        {{ e.evento_immagine.pic_byte }}
        <div *ngIf=retrievedImage>
        <img style="max-width: -webkit-fill-available;" [src]="retrievedImage">
        </div>
        <hr>
    </div>
</div>











































    <!-- <div class="card my-5">
        <h1>Elenco delle visite prenotate</h1>
        <div class="overflow-auto">
            <div class="card-body">
                <table class="table table-bordered table-striped">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Data</th>
                            <th scope="col">Orario</th>
                            <th scope="col">Numero dei componenti</th>
                            <th scope="col">Nome</th>
                            <th scope="col">Cognome</th>
                            <th scope="col">Professione</th>
                            <th scope="col">Numero di telefono</th>
                            <th scope="col">Paese</th>
                            <th scope="col">Città</th>
                            <th scope="col">Info aggiuntive</th>
                            <th scope="col">Motivo dell'eliminazione</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let p of prenotazione">
                            <td>{{ p.id }}</td>
                            <td name="data">{{ p.data }}</td>
                            <td name="orario" >{{ p.orario }}</td>
                            <td name="numcomponenti">{{ p.numcomponenti }}</td>
                            <td name="nome">{{ p.nome }}</td>
                            <td name="cognome">{{ p.cognome }}</td>
                            <td name="cognome">{{ p.professione }}</td>
                            <td name="cellulare">{{ p.cellulare }}</td>
                            <td name="paese">{{ p.paese }}</td>
                            <td name="citta">{{ p.citta }}</td>
                            <td name="infoAggiuntiva">{{ p.infoAggiuntiva }}</td>
                            <td name="motivo"><input style="width: 100px;" [(ngModel)]="p.motivo" class="form-control"></td>
                            <td><button (click)="send(p)" (click)="cancellaPrenotazione(p.id)">ELIMINA LA VISITA</button></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div> -->