<div class="container">
  <div class="title">
    Home Page
  </div>
  <div class="fraseLeopardi">
    <h1>"Sempre caro mi fu quest’ermo colle,

      E questa siepe, che da tanta parte

      Dell’ultimo orizzonte il guardo esclude."</h1>
  </div>
  <img class="img" src="\assets\images\LogoCentroCulturaleGL.png">
  <div class="sfondodivButton">
    <div class="divButton">
      <button class="button" routerLink="/mappa" style="margin-right: 4px">
        <mat-icon class="icon">explore</mat-icon>ESPLORA IL PERCORSO
      </button>
    </div>
    <div class="divButton">
      <button class="button" routerLink="/prenotazione-visita">
        <mat-icon class="icon">add</mat-icon>PRENOTA UNA VISITA
      </button>
    </div>
  </div>
  <div>
    <h1 class="frase">
      "Leopardi produce l'effetto contrario a quello che si propone. Non crede al progresso, e te lo fa desiderare; non
      crede alla libertà, e te la fa amare. Chiama illuisone l'amore, la gloria, la virtù, e te ne accende un desiderio
      inesausto. E' scettico, e ti fa credente".

      F. De Sanctis
    </h1>
  </div>
  <div class="player">
    <youtube-player videoId="gB3XH5t9QCA" suggestedQuality="standard" [height]="200" [width]="300" [startSeconds]="1"
      [endSeconds]="200">
    </youtube-player>
  </div>
  <div class="evento">
    <p style="text-align: center;"> Nuovo Evento Aggiunto </p>
    <button class="button" routerLink="/bacheca-eventi" style="margin-right: 4px">
      <mat-icon class="icon">event_note</mat-icon>Vai alla bacheca eventi
    </button>
  </div>
</div>