<div class="container" style="text-align-last: center;  margin-bottom: 40px;">
    <h1><i>Via Roma</i></h1>
    <img class="card-img-top" style="width: 300px;margin-bottom: 30px;"
        src="assets\images\Via Roma_IGP1017 copia_DxOFP.jpg" alt="Card image cap">

    <google-map height="500px" width="100%" [zoom]="zoom" [center]="center" [options]="options"
        (mapClick)="click($event)">
        <map-marker #markerElem *ngFor="let marker of markers" [position]="marker.position" [label]="marker.label"
            [title]="marker.title" [options]="marker.options" (mapClick)="openInfo(markerElem, marker.info)">
        </map-marker>

        <map-info-window>{{ infoContent }}</map-info-window>
    </google-map>

    <div class="text">

        La storia di ognuno è unica e decisa da tanti elementi che ne determinano carattere, scelte, sensibilità umana e
        genialità. Su Giacomo hanno sicuramente influito la sua biblioteca, i genitori, l’assenza di amici, la
        solitudine e soprattutto Recanati, diletto e pena del poeta. La sua produzione lirica infatti è stata scritta
        per la maggior parte nella città natale e quella non scritta a Recanati spesso rimanda a questo luogo. Ma
        soprattutto Recanati è in simbiosi con Giacomo perché la sua topografia produce quell’effetto di segregazione,
        di siepe, con un desiderio irrefrenabile dell’infinito che Ungaretti seppe cogliere nel ’50 quando ebbe
        l’occasione di essere ospite della famiglia Leopardi e di soggiornarvi alcuni giorni: Mi è stata offerta
        quest’anno, dalla consueta cortesia dei Leopardi, la fortuna di essere accolto ospite nella loro casa di
        Recanati; e, per interi giorni (corridoi, corridoi stretti, lunghi, stanzini, stanze: tanti vani che uno ci si
        perde) il privilegio mi è stato concesso di aggirarmi, per interi giorni, dentro i casoni che, appiccicati per
        forza, insieme formano il brutto palazzo dove il Poeta s’era aggirato. E, in quel borgo – dal quale, in rari
        punti culminanti, o salito all’altana nel palazzo stesso, può la vista estendersi entro lo spazio il più largo
        (l’infinito) che ad occhi umani sia dato d’abbracciare – uno si viene, se va a spasso, a trovare affiancato da
        muraglie di cotto e, mentre va, da un casamento, che d’improvviso, s’è proteso di traverso, gli è tagliata la
        strada. Rimane il breve varco, dove potrebbe sorgere un “roveto”, un “verde lauro” od altra “siepe”.

        Così è, in Recanati, chiuso di consueto l’orizzonte, lungo rettangoli di vie, per il subitaneo scontrarsi di
        larghi petti di mattoni.

        Succede anche nel palazzo – o affacciandosi alle finestre dai piani superiori, o al pianterreno, guardando in
        piazza dalla biblioteca, o passando nel portico tetro che separa l’orto dal pomario – che, di consueto, si possa
        godere, alzando gli occhi, su costante la presenza del cielo; ma che, davanti allo sguardo, non si possa avere
        se non chiusa la mira dell’orizzonte: chiusa dai tetti d’embrici, accoglie voli al posarsi della luna: oppure
        chiusa da muri impassibili e implacabili, coperti spesso da assieparsi di piante.

        Succede quindi di consueto in Recanati, che si provi un effetto di segregazione, di siepe, con un desiderio
        irrefrenabile dell’infinito, di cui la possibilità di averne illusione, e incomparabile, è tanto facile in quel
        borgo.

        Dirò anche un’altra cosa: sono stato al Monte Tabor, e forse è improbabile che – sul ciglio dello stradello che
        andava, tra, da un lato, i muri di cinta del monastero di monache, dominante il monte, e, d’altro lato, la china
        che cala ripida a perdita d’occhio nel buio e, dirimpetto, il terreno che dal fondo del precipizio si solleva,
        più alto del Tabor nonostante i fumi della distanza – possa esserci mai esistita una siepe tale che, lì, potesse
        davvero “escludere” il guardo dall’ultimo orizzonte. Si tenga inoltre conto che è su per giù allo stesso livello
        del Tabor, la zona di Montemorello su cui è stato fabbricato il palazzo Leopardi. Non chiedete, per carità, ai
        poeti, esattezze topografiche: per il Leopardi, per un poeta al quale si vorrà accordare che non difettasse di
        fantasia, il monte e l’infinito potevano essere ovunque.

        Ungaretti, dunque, coglie in questo pensiero il rapporto simbiotico tra Giacomo e il natio borgo selvaggio in
        funzione dell’anelito verso l’infinito che il poeta avvertirà sempre senza mai poter soddisfare totalmente. E’
        questo un aspetto da non sottovalutare, motore e spunto di questo lavoro letterario che spinge ad utilizzare il
        nostro testo all’interno di un percorso visivo e conoscitivo dove è sicuramente più facile capire le domande di
        Leopardi e la sua posizione umana, quel giovane che faceva a volte delle interminabili passeggiate quotidiane
        nelle vie da noi percorse, accompagnato dal padre e dal fratello, nel più assoluto silenzio, quel Leopardi che
        alternava periodi di intensa emotività a lunghi mesi di totale aridità.

        Percorriamo dunque la

        <a data-toggle="collapse" href="#multiCollapseExample1" aria-expanded="false"
            aria-controls="multiCollapseExample1">via lastricata dai sampietrini</a>
        <div class="collapse multi-collapse" id="multiCollapseExample1">
            <img style="width: 300px;" src="assets\images\Via Roma_IGP1017 copia_DxOFP.jpg">
        </div>

        immaginandoci un piccolo consesso formato da Monaldo, Giacomo e i fratelli Carlo e Paolina che fanciulli
        percorrevano questa strada, sovrastata a destra e a sinistra dai palazzi delle famiglie nobiliari. Monaldo
        conduceva i figli maggiori nella

        <a data-toggle="collapse" href="#multiCollapseExample2" aria-expanded="false"
            aria-controls="multiCollapseExample2">Chiesa di San Vito</a>
        <div class="collapse multi-collapse" id="multiCollapseExample2">
            <img style="width: 300px;" src="assets\images\Via Roma_2_IGP1015 copia_DxOFP.jpg">
        </div>

        che troviamo alla fine della via sulla destra annunciata da un ampio piazzale. Il portale, imponente e bello, è
        del Vanvitelli che lo realizzò nel 1748. In questa chiesa grazie all’opera del Collegio per l’Istruzione della
        Gioventù sorgono a Recanati Pie congregazioni dei Nobili, degli Artisti e degli Agricoltori con sede in una
        cappellina all’interno della chiesa. Nella

        <a data-toggle="collapse" href="#multiCollapseExample3" aria-expanded="false"
            aria-controls="multiCollapseExample3">ongregazione dei Nobili</a>
        <div class="collapse multi-collapse" id="multiCollapseExample3">
            <img style="width: 300px;" src="assets\images\Via Roma_2_IGP1015 copia_DxOFP.jpg">
        </div>

        nel nostro “vago immaginare” vediamo Giacomo recitare alcuni dei suoi lavori sotto lo sguardo compiaciuto di
        Monaldo: Per il Santo Natale, I pastori che scambievolmente s’invitano per adorare il nato bambino del 1809,
        Poesia per il giorno delle Ceneri nel 1810, Il trionfo della Croce nel 1812, la Crocefissione e morte di Cristo
        nel 1814, La Flagellazione e la Condanna e viaggio del Redentore al Calvario. Ce li immaginiamo tutti e
        quattro, per mano, nella stagione fredda, con passo deciso, fieri della loro nobiltà, diretti verso San Vito
        ognuno con la sua cartella di fogli: Carlo romantico, intimo confidente e amico, appassionato di tutto quanto
        fosse francese; Paolina, per la quale Giacomo tentò un’azione matrimoniale, andata a vuoto, l’unica che rimase
        in contatto con lui per tutta la vita attraverso le lettere che seguitò a scriverle.

    </div>
</div>