<h1>Casa Leopardi</h1>
<div class="container" style="text-align-last: center;">
<img class="card-img-top" style="width: 300px;margin-bottom: 30px;" src="assets\images\Casa Leopardi_IGP0936 copia_DxOFP.jpg" alt="Card image cap">
<!-- this creates a google map on the page with the given lat/lng from -->
<!-- the component as the initial center of the map: -->
<agm-map [latitude]="43.398125" [longitude]="13.551801">
  <agm-marker [latitude]="43.398125" [longitude]="13.551801"></agm-marker>
</agm-map>
</div>