<h1><i>Casa Leopardi</i></h1>
<div class="container" style="text-align-last: center;">
  <img class="card-img-top" style="width: 300px;margin-bottom: 30px;"
    src="assets\images\Casa Leopardi_IGP0936 copia_DxOFP.jpg" alt="Card image cap">

  <google-map height="500px" width="100%" [zoom]="zoom" [center]="center" [options]="options"
    (mapClick)="click($event)">
    <map-marker #markerElem *ngFor="let marker of markers" [position]="marker.position" [label]="marker.label"
      [title]="marker.title" [options]="marker.options" (mapClick)="openInfo(markerElem, marker.info)">
    </map-marker>

    <map-info-window>{{ infoContent }}</map-info-window>
  </google-map>

  <div class="text">
      Occasione da non perdere per chi si trovasse a passare per Recanati è la visita di Casa Leopardi dove, in un
      percorso guidato agli ambienti frequentati dal poeta, sono in mostra gli autografi giovanili. All’interno della
      residenza abitata oggi dagli eredi, tutto ci rimanda al tempo di Giacomo, con le scalinate, i passaggi interni,
      gli arredi, la biblioteca. Uscendo, se ci voltiamo, cogliamo l’ampia estensione del palazzo della famiglia e le
      finestre dietro le quali immaginiamo vederlo studiare, ripararsi dal freddo con una piccola coperta sulle gambe,
      prendere appunti, sfogliare uno, due, tre volumi della grande biblioteca voluta dal padre.
      Da sotto i veroni del paterno ostello si apre la famosa
      <a routerLink="/piazzuola-sabato-del-villaggio">"Piazzuola del sabato del villaggio"</a>
      , luogo rimasto simile a quello che vedeva Giacomo agli inizi del diciannovesimo secolo. La piazza è uno spazio
      scosceso, non molto ampio, dove sulla sinistra si trova la
      
      <a data-toggle="collapse" href="#multiCollapseExample2" aria-expanded="false" aria-controls="multiCollapseExample2">chiesa di Santa Maria in Montemorello</a>
      <div class="collapse multi-collapse" id="multiCollapseExample2">
        <img style="width: 300px;"
        src="assets\images\Casa Leopardi_IGP0936 copia_DxOFP.jpg">
      </div>

      rifatta nel 1501 da due antenati del poeta. Qui Giacomo fu battezzato da Padre Luigi Leopardi, filippino, zio di
      Monaldo, il giorno dopo la sua nascita il 29 giugno 1798: padrini il nonno materno Filippo Antici e la nonna
      paterna Virginia Mosca Leopardi; presenti Monaldo e Adelaide, genitori di Giacomo. All'interno della chiesa, ai
      lati, poco prima dell'altare, spiccano ancora le sedute della gentis Leopardae.
      La chiesa di Santa Maria in Montemorello colpisce per il suo campanile, che presenta una forma poco usuale, ma
      l’interesse maggiore, per quello che attiene il nostro percorso è il fatto, scontato se vogliamo, che dal
      campanile udiamo scandire ogni quarto d'ora il tempo e, a vari intervalli, l'inizio della messa: questo suon
      dell’ora aveva nell’animo di Giacomo un riverbero particolare, un annuncio che il tempo passa e con esso fugge
      quell’entrar di giovinezza che a somigliar d’un lampo si dilegua. Occorre porre attenzione a questi particolari,
      iniziando fin da subito quel lavoro di immedesimazione senza del quale non riusciremo a cogliere la profondità del
      sentire del poeta. Il primo segno che è vinta la distrazione, è proprio una attenzione nuova ai rintocchi, come se
      questi fossero un’allerta, e poi discretamente, ma via via in modo sempre più chiaro, ci si accorgerà anche di
      quanto sia bella la produzione poetica leopardiana.
      Sull'altro lato della piazza di fronte al "palazzo natio" c’è la 
        <a data-toggle="collapse" href="#multiCollapseExample1" aria-expanded="false" aria-controls="multiCollapseExample1">la casa di "Silvia"</a>
          <div class="collapse multi-collapse" id="multiCollapseExample1">
            <img style="width: 300px;" src="assets\images\Giacomo-Leopardi-A-Silvia.jpg">
          </div>
      , Teresa Fattorini, figlia del
      cocchiere dei Leopardi, che morì giovane di tisi nel 1818 e che venne immortalata nella poesia A Silvia, composta
      a Pisa nel 1828. Il componimento, tutto concepito nel ricordo, è un ipotetico dialogo con la giovane, che Giacomo
      avrà forse visto o ascoltato a distanza, da dietro le sue finestre. È tra le poesie più conosciute perché ci sono
      ancora saggi insegnanti che la fanno imparare a memoria ed anche perché la sua musicalità la rende facile
      all’apprendimento. Per Leopardi il ricordo di Silvia è apertura al mistero, rimando alla trascendenza, estasi: la
      memoria è più potente dell’assenza, della morte di Silvia. Ecco allora il primo affondo di verifica del nostro
      incipit: la memoria ritorna nel presente, non è solo ricordo del passato e, nonostante la poesia parli di morte,
      questa non è l’ultima parola. La verità di questa affermazione si intuisce nel verso anche peria fra poco la
      speranza mia dolce dove quel «fra poco» indica che con la morte la speranza rimane, non cessa perché il cuore, di
      fronte ad una morte ingiusta, inspiegabilmente attende e non si rassegna. Le domande del poeta non sono dunque un
      esercizio retorico ma, forse inconsapevolmente, la traiettoria di un autentico senso religioso.
      Ai primi dell’Ottocento la casa dei Fattorini divideva il paese dalla campagna e col ciel sereno la vista era
      veramente sugli orti coltivati. Leopardi poteva vedere dal palazzo il mar da lungi e quindi il monte, una bellezza
      viva, espressa efficacemente dal verso lingua mortal non dice quel ch’io sentiva in seno. La Recanati dalla quale
      voleva fuggire è qui quasi trasfigurata per la potenza del pensiero che ritorna al passato. È questa un’esperienza
      comune a tutti: il ricordare dettagli del proprio vissuto che al momento sembrano secondari e che acquistano una
      luce nuova quando ritornano alla memoria. Il genio leopardiano rende questo esercizio sublime e ci lascia versi
      indimenticabili, eterni nel canto A Silvia, la cui struttura è data da sei domande sul senso dell’esistenza così
      urgenti negli anni della giovinezza.
  </div>
</div>