<h1>Casa Leopardi</h1>
<div class="container" style="text-align-last: center;">
<img class="card-img-top" style="width: 300px;margin-bottom: 30px;" src="assets\images\Casa Leopardi_IGP0936 copia_DxOFP.jpg" alt="Card image cap">

<google-map
  height="500px"
  width="100%"
  [zoom]="zoom"
  [center]="center"
  [options]="options"
  (mapClick)="click($event)"
>
  <map-marker
    #markerElem
    *ngFor="let marker of markers"
    [position]="marker.position"
    [label]="marker.label"
    [title]="marker.title"
    [options]="marker.options"
    (mapClick)="openInfo(markerElem, marker.info)"
  >
  </map-marker>

  <map-info-window>{{ infoContent }}</map-info-window>
</google-map>

<div class="Container">
<button class="bottone-class" id="in" (click)="zoomIn()">Zoom in</button>
<button class="bottone-class" id="out" (click)="zoomOut()">Zoom out</button>
<button class="bottone-class" id="log" (click)="logCenter()">Log center</button>
<button class="bottone-class" id="marker" (click)="addMarker()">Add marker</button>
</div>

</div>