<div class="container">

    <h1><b><i>In questa sezione è possibile cercare un testo di Giacomo Leopardi ed ascoltarne la recitazione</i></b>
    </h1>

    <button *ngIf="boo1==false" type="button" class="btn btn-outline-info" (click)="bottoneTrue()">
        Premi per vedere tutte le poesie
    </button>
    <button *ngIf="boo1==true" type="button" class="btn btn-outline-success" style="margin-top: 5%;"
        (click)="bottoneFalse()">
        Premi per nascondere tutte le poesie
    </button>

    <!-- <div style="margin-top: 5%;">
        <input [(ngModel)]="titoloPoesia">
        <button class="button" style="vertical-align:middle;" (click)="filtra()"><span>
                <mat-icon style="vertical-align: middle;">search</mat-icon>
            </span></button>
    </div> -->

    <div class="input-group mb-3" style="margin-top: 5%;">
        <div class="input-group-prepend">
            <button class="btn btn-outline-secondary" type="button" style="vertical-align:middle; z-index: 0;"
                (click)="filtra()"><span>
                    <mat-icon style="vertical-align: middle;">search</mat-icon>
                </span></button>
        </div>
        <input [(ngModel)]="titoloPoesia" type="text" class="form-control" placeholder="" aria-label=""
            aria-describedby="basic-addon1">
    </div>

    <div *ngIf="boo1">
        <div *ngFor="let p of poesie">
            <hr>
            Titolo: {{p.titolo}} <br>
            Capitolo: {{p.capitolo}}
            <hr>
            <h1><b><i>{{p.titolo}}</i></b></h1>
            <p style="text-align: justify; padding: 5%;" *ngIf=p.isText>{{p.testo}}</p>
            <pre *ngIf=!p.isText>{{p.testo}}</pre>
            <hr>
        </div>
    </div>

    <div *ngIf="boo2">
        Capitolo: {{poesie.capitolo}} <br>
        Titolo: {{poesie.titolo}}
        <hr>

        <h1><b><i>{{poesie.titolo}}</i></b></h1>

        <p style="text-align: center;">
            <button class="button" data-toggle="collapse" href="#testo"
                aria-expanded="false" aria-controls="testo" style="vertical-align:middle" (click)="enableDisableRule()"
                [ngClass]="{'button' : toggle, 'buttonClicked': !toggle}"><span>
                    <mat-icon>menu_book</mat-icon>
                </span></button>
            <button class="button1" data-toggle="collapse" href="#audio"
                aria-expanded="false" aria-controls="audio" style="vertical-align:middle;"
                (click)="enableDisableRule1()" [ngClass]="{'button1' : toggle1, 'button1Clicked': !toggle1}"><span>
                    <mat-icon>audiotrack</mat-icon>
                </span></button>
        </p>

        <div class="collapse multi-collapse" id="testo">

            <p style="text-align: justify; padding: 5%;" *ngIf=poesie.isText>{{poesie.testo}}</p>
            <pre *ngIf=!poesie.isText>{{poesie.testo}}</pre>

            <p style="text-align: center;">
                <button class="button" data-toggle="collapse" href="#testo" aria-expanded="false" aria-controls="testo"
                    (click)="enableDisableRule()" [ngClass]="{'button' : !toggle, 'buttonClicked': toggle}"
                    style="vertical-align:middle;"><span>
                        <mat-icon>keyboard_arrow_up</mat-icon>
                    </span></button>
            </p>
            <hr>
        </div>

        <div class="collapse multi-collapse" id="audio">
            <div style="margin-top: 5%;" class="wrapper mat-typography" fxLayout="column" fxLayoutGap="32px">
                <mat-card style="width: responsive; height: 50px;">
                    <div mat-card-image plyr plyrTitle="Audio" plyrType="audio" [plyrPlaysInline]="true"
                        [plyrCrossOrigin]="true" [plyrSources]="'./assets/audio/Inquietudine della vita.mp3'"></div>
                </mat-card>
            </div>
        </div>



    </div>