.container {
    margin-top: 20px;
    margin-bottom: 20px;
}

.material-icons {
    color: #ebbc39;
}

h2 {
    text-transform: uppercase;
    font-size: 28px;
    color: #ebbc39;
}

hr {
    color: #ebbc39;
}

.map-container {
    height: 180px;
    z-index: -1;
}

@media all and (max-width: 500px) {
    .container {
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .map-container {
        height: 180px;
        z-index: -1;
    }
}