<div class="container">

    <h1>Condizioni d'uso</h1>

    <h1>Benvenuti su CentroCulturaleGL</h1>
    <p>Le presenti Condizioni d'uso (o "Condizioni") disciplinano l'uso dell'app, tranne nei casi di esplicita indicazione circa l'applicazione di condizioni separate (diverse dalle presenti), e forniscono informazioni sul Servizio CentroCulturaleGL (il "Servizio"), descritto di seguito. Creando un account CentroCulturaleGL o usando CentroCulturaleGL, l'utente accetta le presenti Condizioni.</p>
</div>

