<div *ngIf="visitor" class="container">

    <h1>La tabella qua sotto indica i dati del tuo account</h1>

    <table class="table table-bordered table-striped" style="margin-top: 10%">
        <tr>
            <th>Email: </th>
            <td>{{ utente.username }} </td>
        </tr>
        <tr>
            <th>Nome: </th>
            <td>{{ utente.name }} </td>
        </tr>
        <tr>
            <th>Cognome: </th>
            <td>{{ utente.lastname }} </td>
        </tr>
    </table>
</div>