.bottone-class{
    margin-right: 15px;
  }
  
  .Container{
    margin-top: 20px;
  }
  
  .text{
    font-family: "Times New Roman", Times, serif;
  }

  .button {
    background-color: white;
    color: black;
    border: 2px solid #4CAF50; /* Green */
  }
  
  @media all and (max-width: 500px){
    .bottone-class{
      margin-top: 10px;
      font-size: 13px;
      margin-bottom: -20px;
    }
  
    .text{
      font-family: "Times New Roman", Times, serif;
      margin-top: 20px;
    }
  
    h1{
      font-size: 30px;
      text-align: center;
    }

    p{
      text-align: center;
      font-size: large;
      margin-top: auto;
      font-style: italic;
    }
    pre{
      line-height: 30px;
      text-align: center;
      font-size: medium;
      margin-top: auto;
      font-style: italic;
      font-family: 'Times New Roman', Times, serif;
    }

    .button {
      background-color: white;
      margin-left: 25%;
      color: black;
      border: 2px solid #4CAF50; /* Green */
    }

    .button1 {
      background-color: white;
      margin-left: 20%;
      color: black;
      border: 2px solid #f8f32b; /* giallo zolfo */
    }
  }