<div class="container" style="text-align-last: center;">
  <h1><i>Sezione dedicata ai testi</i></h1>
  <h2><i>Ogni testo può essere ascoltato tramite un audio contenente la recitazione</i></h2>
  <div class="text">
    <h1><b><i>A Silvia</i></b></h1>
    <p>Silvia, rimembri ancora</p>
    <p>quel tempo della tua vita mortale,</p>
    <p>quando beltà splendea</p>
    <p>negli occhi tuoi ridenti e fuggitivi,</p>
    <p>e tu, lieta e pensosa, il limitare</p>
    <p>di gioventù salivi?</p>
    <p>Sonavan le quiete</p>
    <p>stanze, e le vie d'intorno,</p>
    <p>al tuo perpetuo canto,</p>
    <p>allor che all'opre femminili intenta</p>
    <p>sedevi, assai contenta</p>
    <p>di quel vago avvenir che in mente avevi.</p>
    <p>Era il maggio odoroso: e tu solevi</p>
    <p>così menare il giorno.</p>
    <p style="margin-top: 35px;"></p>
    <p>Io gli studi leggiadri</p>
    <p>talor lasciando e le sudate carte,</p>
    <p>ove il tempo mio primo</p>
    <p>e di me si spendea la miglior parte,</p>
    <p>d'in su i veroni del paterno ostello</p>
    <p>porgea gli orecchi al suon della tua voce,</p>
    <p>ed alla man veloce</p>
    <p>che percorrea la faticosa tela.</p>
    <p>Mirava il ciel sereno,</p>
    <p>le vie dorate e gli orti,</p>
    <p>e quinci il mar da lungi, e quindi il monte.</p>
    <p>Lingua mortal non dice</p>
    <p>quel ch'io sentiva in seno.</p>
    <p style="margin-top: 35px;"></p>
    <p>Che pensieri soavi,</p>
    <p>che speranze, che cori, o Silvia mia!</p>
    <p>Quale allor ci apparia</p>
    <p>la vita umana e il fato!</p>
    <p>Quando sovviemmi di cotanta speme,</p>
    <p>un affetto mi preme</p>
    <p>acerbo e sconsolato,</p>
    <p>e tornami a doler di mia sventura.</p>
    <p>O natura, o natura,</p>
    <p>perché non rendi poi</p>
    <p>quel che prometti allor? perché di tanto</p>
    <p>inganni i figli tuoi?</p>
    <p style="margin-top: 35px;"></p>
    <p>Tu pria che l'erbe inaridisse il verno,</p>
    <p>da chiuso morbo combattuta e vinta,</p>
    <p>perivi, o tenerella. E non vedevi</p>
    <p>il fior degli anni tuoi;</p>
    <p>non ti molceva il core</p>
    <p>la dolce lode or delle negre chiome,</p>
    <p>or degli sguardi innamorati e schivi;</p>
    <p>né teco le compagne ai dì festivi</p>
    <p>ragionavan d'amore.</p>
    <p style="margin-top: 35px;"></p>
    <p>Anche perìa fra poco</p>
    <p>la speranza mia dolce: agli anni miei</p>
    <p>anche negaro i fati</p>
    <p>la giovinezza. Ahi come,</p>
    <p>come passata sei,</p>
    <p>cara compagna dell'età mia nova,</p>
    <p>mia lacrimata speme!</p>
    <p>Questo è quel mondo? questi</p>
    <p>i diletti, l'amor, l'opre, gli eventi,</p>
    <p>onde cotanto ragionammo insieme?</p>
    <p>questa la sorte delle umane genti?</p>
    <p>All'apparir del vero</p>
    <p>tu, misera, cadesti: e con la mano</p>
    <p>la fredda morte ed una tomba ignuda</p>
    <p>mostravi di lontano.</p>
  </div>

  <div style="margin-top: 5%;" class="wrapper mat-typography" fxLayout="column" fxLayoutGap="32px">
    <mat-card style="width: responsive; height: 50px;">
      <div mat-card-image plyr plyrTitle="Audio" plyrType="audio" [plyrPlaysInline]="true" [plyrCrossOrigin]="true"
        [plyrSources]="'./assets/audio/Inquietudine della vita.mp3'"></div>
    </mat-card>
  </div>

  

</div>