.bottone-class{
    margin-right: 15px;
  }
  
  .Container{
    margin-top: 20px;
  }
  
  .text{
    font-family: "Times New Roman", Times, serif;
  }
  
  @media all and (max-width: 500px){
    .bottone-class{
      margin-top: 10px;
      font-size: 13px;
      margin-bottom: -20px;
    }
  
    .text{
      font-family: "Times New Roman", Times, serif;
      margin-top: 20px;
    }
  
    h1{
      font-size: 30px;
      text-align: center;
    }

    p{
      text-align: center;
      font-size: large;
      margin-top: auto;
      font-style: italic;
    }
    pre{
      line-height: 30px;
      text-align: center;
      font-size: medium;
      margin-top: auto;
      font-style: italic;
      font-family: 'Times New Roman', Times, serif;
    }
  }