<div class="container" style="text-align-last: center;">
  <h1><i>Sezione dedicata ai testi</i></h1>
  <h2><i>Ogni testo può essere ascoltato tramite un audio contenente la recitazione</i></h2>
  <div class="text">
    Dopo la tappa di San Vito riprendiamo via Roma che termina pochi metri più avanti allorché voltando a sinistra
    si fiancheggia la maestosa chiesa di Sant’Agostino, fino a giungere nell’angusto piazzale antistante l’ingresso
    della chiesa. Davanti a noi si staglia la torre dell’acquedotto comunale scambiata dai più per la
  </div>

  <div style="margin-top: 5%;" class="wrapper mat-typography" fxLayout="column" fxLayoutGap="32px">
    <mat-card style="width: responsive;">
      <div mat-card-image plyr plyrTitle="Audio" plyrType="audio" [plyrPlaysInline]="true" [plyrCrossOrigin]="true"
        [plyrSources]="'./assets/audio/Inquietudine della vita.mp3'"></div>
    </mat-card>
  </div>
</div>