<div class="container">
    Elenco delle visite prenotate
    <div class="card my-5">
        <div class="overflow-auto">
            <div class="card-body">
                <table class="table table-bordered table-striped">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Data</th>
                            <th scope="col">Orario</th>
                            <th scope="col">Numero dei componenti</th>
                            <th scope="col">Nome</th>
                            <th scope="col">Cognome</th>
                            <th scope="col">Numero di telefono</th>
                            <th scope="col">Paese</th>
                            <th scope="col">Città</th>
                            <th scope="col">Info aggiuntive</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let p of prenotazione">
                            <td>{{ p.id }}</td>
                            <td>{{ p.data }}</td>
                            <td>{{ p.orario }}</td>
                            <td>{{ p.numcomponenti }}</td>
                            <td>{{ p.nome }}</td>
                            <td>{{ p.cognome }}</td>
                            <td>{{ p.cellulare }}</td>
                            <td>{{ p.paese }}</td>
                            <td>{{ p.citta }}</td>
                            <td>{{ p.infoAggiuntiva }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>