.container {
    margin-top: 20px;
    margin-bottom: 20px;
}

@media all and (max-width: 500px) {
    .container {
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .overflow-auto{
        z-index: 0;
    }
}