<div class="container">

    <!-- idea : mettere una freccia per tornare alla pagina di prima, momentaneamente e' brutto cosi' -->

    <!-- <p><button class="button" (click)="goBack()" style="vertical-align:middle"><span>
                <mat-icon>undo</mat-icon>
            </span></button>Clicca sulla freccia per tornare indietro</p> -->

    <div class="card my-5">
        <div class="overflow-auto">
            <div class="card-body">
                <table class="table table-bordered table-striped" style="box-shadow: 15px 15px 10px #dedede;">
                    <div *ngFor="let p of poesie; let j = index">

                        <h2 style="text-align: center; margin-top: 5%;">
                            <button class="button" (click)="goBack()" ><span>
                                    <mat-icon style="vertical-align: middle;">keyboard_arrow_left</mat-icon>
                                </span></button>
                            Capitolo: {{p.capitolo}}
                        </h2>
                        <hr>
                        <h1><b><i>{{p.titolo}}</i></b></h1>

                        <p style="text-align: center;">
                            <a class="button" (click)="differenza(j)" data-toggle="collapse" href="#poesie-{{ j }}"
                                aria-expanded="false" style="vertical-align:middle"><span>
                                    <mat-icon>menu_book</mat-icon>
                                </span></a>
                            <a class="button1" (click)="differenza(j)" data-toggle="collapse" href="#audio-{{j}}"
                                aria-expanded="false" aria-controls="audio" style="vertical-align:middle;"><span>
                                    <mat-icon>audiotrack</mat-icon>
                                </span></a>
                        </p>

                        <div class="collapse" id="poesie-{{ j }}">

                            <p style="text-align: justify; padding: 5%;" *ngIf=p.isText>{{p.testo}}</p>
                            <pre *ngIf=!p.isText>{{p.testo}}</pre>

                            <p style="text-align: center;">

                                <a class="button" (click)="differenza(j)" data-toggle="collapse" href="#poesie-{{ j }}"
                                    aria-expanded="false" style="vertical-align:middle"><span>
                                        <mat-icon>keyboard_arrow_up</mat-icon>
                                    </span></a>
                            </p>
                            <hr>
                        </div>
                        <div class="collapse" id="audio-{{j}}">
                            <div style="margin-top: 5%;" class="wrapper mat-typography" fxLayout="column"
                                fxLayoutGap="32px">
                                <mat-card style="width: responsive; height: 50px;">
                                    <div mat-card-image plyr plyrTitle="Audio" plyrType="audio" [plyrPlaysInline]="true"
                                        [plyrCrossOrigin]="true"
                                        [plyrSources]="'./assets/audio/Inquietudine della vita.mp3'"></div>
                                </mat-card>
                            </div>
                        </div>
                        <hr>
                    </div>
                </table>
            </div>
        </div>
    </div>
</div>