<div class="container">
    <h1><b><i>Capitolo 9: Via Roma desiderio irrefrenabile dell'infinito</i></b></h1>
    <div class="text">
        <h1><b><i>Testo di Ungaretti</i></b></h1>
        <p style="text-align: center;">
            <button class="button" data-toggle="collapse" href="#multiCollapseExample1" aria-expanded="false"
                aria-controls="multiCollapseExample1" style="vertical-align:middle" (click)="enableDisableRule()"
                [ngClass]="{'button' : toggle, 'buttonClicked': !toggle}"><span>
                    <mat-icon>menu_book</mat-icon>
                </span></button>

            <button class="button1" data-toggle="collapse" href="#multiCollapseExample2" aria-expanded="false"
                aria-controls="multiCollapseExample2" style="vertical-align:middle" (click)="enableDisableRule1()"
                [ngClass]="{'button1' : toggle1, 'button1Clicked': !toggle1}"><span>
                    <mat-icon>audiotrack</mat-icon>
                </span></button>
        </p>

        <p>
            <button class="back" routerLink="/poesia-casa-adelaide">
                <mat-icon>arrow_back_ios</mat-icon>
            </button>
            <button class="forward" routerLink="/poesia-torre-passero-solitario">
                <mat-icon>arrow_forward_ios</mat-icon>
            </button>
        </p>

        <div class="collapse multi-collapse" id="multiCollapseExample1">
            <p class="pre">
                Mi è stata offerta quest’anno, dalla consueta cortesia dei Leopardi, la fortuna di essere accolto ospite
                nella loro casa
                di Recanati; e, per interi giorni (corridoi, corridoi stretti, lunghi, stanzini, stanze: tanti vani che
                uno ci si perde)
                il privilegio mi è stato concesso di aggirarmi, per interi giorni, dentro i casoni che, appiccicati per
                forza, insieme
                formano il brutto palazzo dove il Poeta s’era aggirato. E, in quel borgo – dal quale, in rari punti
                culminanti, o salito
                all’altana nel palazzo stesso, può la vista estendersi entro lo spazio il più largo (l’infinito) che ad
                occhi umani sia
                dato d’abbracciare – uno si viene, se va a spasso, a trovare affiancato da muraglie di cotto e, mentre
                va, da un
                casamento, che d’improvviso, s’è proteso di traverso, gli è tagliata la strada. Rimane il breve varco,
                dove potrebbe
                sorgere un “roveto”, un “verde lauro” od altra “siepe”.
                Così è, in Recanati, chiuso di consueto l’orizzonte, lungo rettangoli di vie, per il subitaneo
                scontrarsi di larghi
                petti di mattoni.
                Succede anche nel palazzo – o affacciandosi alle finestre dai piani superiori, o al pianterreno,
                guardando in piazza
                dalla biblioteca, o passando nel portico tetro che separa l’orto dal pomario – che, di consueto, si
                possa godere,
                alzando gli occhi, su costante la presenza del cielo; ma che, davanti allo sguardo, non si possa avere
                se non chiusa la
                mira dell’orizzonte: chiusa dai tetti d’embrici, accoglie voli al posarsi della luna: oppure chiusa da
                muri impassibili
                e implacabili, coperti spesso da assieparsi di piante.
                Succede quindi di consueto in Recanati, che si provi un effetto di segregazione, di siepe, con un
                desiderio
                irrefrenabile dell’infinito, di cui la possibilità di averne illusione, e incomparabile, è tanto facile
                in quel borgo.
                Dirò anche un’altra cosa: sono stato al Monte Tabor, e forse è improbabile che – sul ciglio dello
                stradello che andava,
                tra, da un lato, i muri di cinta del monastero di monache, dominante il monte, e, d’altro lato, la china
                che cala ripida
                a perdita d’occhio nel buio e, dirimpetto, il terreno che dal fondo del precipizio si solleva, più alto
                del Tabor
                nonostante i fumi della distanza – possa esserci mai esistita una siepe tale che, lì, potesse davvero
                “escludere” il
                guardo dall’ultimo orizzonte. Si tenga inoltre conto che è su per giù allo stesso livello del Tabor, la
                zona di
                Montemorello su cui è stato fabbricato il palazzo Leopardi. Non chiedete, per carità, ai poeti,
                esattezze topografiche:
                per il Leopardi, per un poeta al quale si vorrà accordare che non difettasse di fantasia, il monte e
                l’infinito potevano
                essere ovunque.
            </p>
            <button class="button" data-toggle="collapse" href="#multiCollapseExample1" aria-expanded="false"
                aria-controls="multiCollapseExample1" style="vertical-align:middle; margin-left: 50%;"><span><i
                        class="arrow up"></i></span></button>
        </div>
    </div>

    <div class="collapse multi-collapse" id="multiCollapseExample2">
        <div style="margin-top: 5%;" class="wrapper mat-typography" fxLayout="column" fxLayoutGap="32px">
            <mat-card style="width: responsive; height: 50px;">
                <div mat-card-image plyr plyrTitle="Audio" plyrType="audio" [plyrPlaysInline]="true"
                    [plyrCrossOrigin]="true" [plyrSources]="'./assets/audio/Inquietudine della vita.mp3'"></div>
            </mat-card>
        </div>
    </div>
</div>