.bottone-class{
    margin-right: 15px;
  }

  p {
    font-family: "Times New Roman", Times, serif;
    font-size: large;
    text-align: justify;
  }

  h1 {
    font-size: xx-large;
    font-family: "Times New Roman", Times, serif;
    text-align: center;
  }
  
  .container {
    margin-top: 20px;
    margin-bottom: 10%;
  }

  a{
    font-family: "Times New Roman", Times, serif;
  }

  .bottoneScelta{
    margin-right: 20px;
  }
  
  @media all and (max-width: 500px){
    .container {
      margin-top: 20px;
      margin-bottom: 10%;
    }
    .bottone-class{
      margin-top: 10px;
      font-size: 13px;
      margin-bottom: -20px;
    }
  
    #in{
      width: 50px;
    }
  
    #out{
      width: 50px;
    }
  
    #log{
      width: 50px;
    }
  
    #marker{
      width: 50px;
    }
  }

  .map-container{ 
    height: 180px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    z-index: -1;
  }