<div class="container">
<h1>Percorso Leopardiano</h1>

<!-- this creates a google map on the page with the given lat/lng from -->
<!-- the component as the initial center of the map: -->

<div *ngIf="bottoneCliccato == false">
  <button (click)="visitaSingolaMethod()">
    Visita in singolo
  </button>

  <button (click)="visitaGuidataMethod()">
    Visita con guida
  </button>
</div>

<div *ngIf="visita == true">
<google-map
  height="500px"
  width="100%"
  [zoom]="zoom"
  [center]="center"
  [options]="options"
  (mapClick)="click($event)"
>
  <map-marker
    #markerElem
    *ngFor="let marker of markers"
    [position]="marker.position"
    [label]="marker.label"
    [title]="marker.title"
    [options]="marker.options"
    (mapClick)="openInfo(markerElem, marker.info)"
  >
  </map-marker>

  <map-info-window>{{ infoContent }}</map-info-window>
</google-map>

<div class="Container">
  <button class="bottone-class" id="in" (click)="zoomIn()">Zoom in</button>
  <button class="bottone-class" id="out" (click)="zoomOut()">Zoom out</button>
  </div>

<ul class="list-group" style="margin-top: 40px">
  <a routerLink="/casa-leopardi"><li class="list-group-item">Punto di interesse 1: Casa Leopardi</li></a>
  <a routerLink="/chiesa-dei-cappuccini"><li class="list-group-item">Punto di interesse 2: Chiesa dei Cappuccini</li></a>
  <a routerLink="/piazzuola-sabato-del-villaggio"><li class="list-group-item">Punto di interesse 3: Piazzuola del sabato del villaggio</li></a>
  <a routerLink="/centro-nazionale-studi-leopardiani"><li class="list-group-item">Punto di interesse 4: Centro nazionale studi Leopardiani</li></a>
  <a routerLink="/monte-tabor"><li class="list-group-item">Punto di interesse 5: Verso il monte Tabor</li></a>
  <a routerLink="/vista-monti-azzurri"><li class="list-group-item">Punto di interesse 6: La vista sui monti azzurri</li></a>
  <a routerLink="/il-colle-dell-infinito"><li class="list-group-item">Punto di interesse 7: Il colle dell'infinito</li></a>
  <a routerLink="/casa-adelaide-antici"><li class="list-group-item">Punto di interesse 8: Casa di Adelaide Antici</li></a>
  <a routerLink="/via-roma"><li class="list-group-item">Punto di interesse 9: Via Roma</li></a>
  <a routerLink="/torre-passero-solitario"><li class="list-group-item">Punto di interesse 10: Torre del Passero solitario</li></a>
  <a routerLink="/lettera-della-befana"><li class="list-group-item">Punto di interesse 11: Lettera della befana</li></a>
  <a routerLink="/palazzo-venieri"><li class="list-group-item">Punto di interesse 12: Palazzo Venieri</li></a>
  <a routerLink="/piazza-torre-del-borgo"><li class="list-group-item">Punto di interesse 13: Piazza della torre del Borgo</li></a>
  <a routerLink="/piazza-torre-del-borgo"><li *ngIf="aggiunta == true" class="list-group-item">Punto di interesse 14: Piazza della torre del Borgo</li></a>
</ul>
</div>
</div>