<div class="container" style=" height: 780px;">
    <div class="row" >
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
            <div class="card card-signin my-5">
                <div class="card-body">
                    <h5 class="card-title text-center"><b>Benvenuto, effettua il login se sei già registarto</b></h5>

                    <form class="form-signin">
                        <div class="form-label-group">
                                <p style="color:rgb(184, 17, 17);">Nome</p>
                            <input type="username" name="username" 
                            required minlength="2" 
                            id="inputUsername" class="form-control" placeholder="Email address"
                                required autofocus>
                            <label for="inputUsername"></label>
                        </div>

                        <div class="form-label-group">
                            <p style="color:rgb(184, 17, 17);">Cognome</p>
                        <input type="username" name="username" 
                        required minlength="2" 
                        id="inputUsername" class="form-control" placeholder="Email address"
                            required autofocus>
                        <label for="inputUsername"></label>
                    </div>

                        <div class="form-label-group">
                            <p style="color:rgb(184, 17, 17);">Email</p>
                            <input type="text" class="form-control" id="email" name="email"
                                placeholder="Enter your email address" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$">
                        </div>    

                        <div class="form-label-group">
                            <p style="color:rgb(184, 17, 17);">Password</p>
                            <input type="password" name="password" 
                            required minlength="7"
                            id="inputPassword" class="form-control" placeholder="Password"
                                required>
                            <label for="inputPassword"></label>
                        </div>

                        <div class="custom-control custom-checkbox mb-3">
                            <input type="checkbox" class="custom-control-input" id="customCheck1">
                        </div>
                        <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Registrati</button>
                        <hr class="my-4">
                    </form>

                    <div>
                        <a style="color: red;" routerLink="/home">Torna alla home</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
